# Logs
logs
*.log

.lock*

# Dependency directories
node_modules/

.npm

# dotenv environment variables file
.env
.env.test

dist/
.*cache/

# local environment files
env*

# exclude misc files
misc/
